<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="html5api.jp.gls" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/gls"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >


        <activity android:name=".activity.Splash" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.MainActivity" >
        </activity>

        <activity android:name=".activity.Login" >
        </activity>

        <activity android:name=".activity.SearchActivity" >
        </activity>

        <activity android:name=".activity.ExEffectActivity" >
        </activity>
        <activity android:name=".activity.ItemListActivity" >
        </activity>
        ItemListActivity
    </application>

</manifest>
